
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="Q5S5LUSV2W4XJ">
      <input type="hidden" name="lc" value="CA">
      <input type="hidden" name="item_name" value="<%= @product.name %>">
      <input type="hidden" name="amount" value="<%= @product.price %>">
      <input type="hidden" name="currency_code" value="CAD">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="cn" value="Ajouter des instructions particulières pour le vendeur :">
      <input type="hidden" name="no_shipping" value="2">
      <input type="hidden" name="tax_rate" value="14.975">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHosted">
      <input type="image" src="https://www.paypalobjects.com/fr_CA/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_CA/i/scr/pixel.gif" width="1" height="1">
  </form>
